<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="{form.identifier}" class="confirmation">
    <f:if condition="{isPreparedMessage}">
        <f:then>
            {message -> f:format.raw()}
        </f:then>
        <f:else>
            <f:format.html>{message -> f:format.nl2br()}</f:format.html>
        </f:else>
    </f:if>
</div>
</html>
