<li class="list-group-item  d-flex justify-content-end align-items-center">
    <span class="title mr-auto p-2"><strong>{jobOffer.title}</strong><f:if condition="{jobOffer.subtitle}"><br><span>{jobOffer.subtitle}</span></f:if></span>
    <span class="start_date p-2 mr-5">
        <f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
            <f:then>
                 <strong>
                    <f:translate key="tx_tt3career_domain_model_joboffer.start_date" />: <f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date>
                 </strong>
            </f:then>
            <f:else>
                 <strong>
                    <f:translate key="tx_tt3career_domain_model.immediately" />
                  </strong>
            </f:else>
        </f:if>
    </span>
    <f:link.action action="show" arguments="{jobOffer:jobOffer}" pageUid="{settings.showPid}" class="btn btn-primary actions p-2"><f:translate key="tx_tt3career_domain_model.more" /></f:link.action>
</li>