<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:if condition="{filterOptions}">
    <f:form action="list" method="get" name="constraint" object="{constraint}" section="tx-tt3-career" class="form-filter mb-5">
        <div class="form-row row m-0">
            <div class="col-12 col-lg-10 my-2">
                <div class="row">
                    <f:for each="{filterOptions}" as="filterOption" key="key">
                        <f:if condition="{key} == 'sword'">
                            <f:then>
                                <div class="form-group field-sword col-12 my-4">
                                    <label for="tx_tt3career_careerlist[constraint][sword]">
                                        <f:translate key="tx_tt3career.filter.{key}"/>
                                    </label>
                                    <f:if condition="{suggestions}">
                                        <f:then>
                                            <f:form.select id="sword" class="form-control" multiple="true" name="{key}" prependOptionLabel="{f:translate(key: 'tx_tt3career.filter.sword.placeholder')}" property="{key}">
                                                <f:for each="{suggestions}" as="suggestion">
                                                    <f:if condition="{constraint.sword.0}">
                                                        <f:form.select.option additionalAttributes="{selected: true}" value="{constraint.sword.0}">
                                                            {constraint.sword.0}
                                                        </f:form.select.option>
                                                    </f:if>
                                                    <f:if condition="{suggestion} && {suggestion != constraint.sword.0}">
                                                        <f:form.select.option additionalAttributes="{v:condition.iterator.contains(needle: suggestion, haystack: constraint.suggestion, then: '{selected: true}')}" value="{suggestion}">
                                                            {suggestion}
                                                        </f:form.select.option>
                                                    </f:if>
                                                </f:for>
                                            </f:form.select>
                                        </f:then>
                                        <f:else>
                                            <f:form.textfield class="form-control" name="constraint[sword]" value="{constraint.sword.0}" placeholder="{f:translate(key: 'tx_tt3career.filter.sword.placeholder')}" />
                                        </f:else>
                                    </f:if>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="form-group col">
                                    <label for="{key}">
                                        <f:translate key="tx_tt3career.filter.{key}"/>
                                    </label>
                                    <f:form.select class="form-control" multiple="true" name="{key}" prependOptionLabel="{f:translate(key: 'tx_tt3career.filter.chooseMessage')}" property="{key}">
                                        <f:for each="{filterOption}" as="filterItem">
                                            <f:if condition="{filterItem}">
                                                <f:form.select.option additionalAttributes="{v:condition.iterator.contains(needle: filterItem, haystack: constraint.filterItem, then: '{selected: true}')}" value="{filterItem}">
                                                    {f:translate(key: 'tx_tt3career.{key}.{filterItem}', default: '{filterItem}')}
                                                </f:form.select.option>
                                            </f:if>
                                        </f:for>
                                    </f:form.select>
                                </div>
                            </f:else>
                        </f:if>
                    </f:for>
                </div>
            </div>
            <div class="col-12 col-lg-2 my-2 d-flex align-items-end justify-content-end">
                <div class="row">
                    <div class="form-group col-6 col-lg-12 col-xxxl-6 d-flex align-items-end justify-content-end">
                        <f:form.submit class="filter-submit form-control btn btn-primary mx-2" name="submit" aria="{label:'submit'}" value="{f:translate(key: 'tx_tt3career.filter.button.filter')}"></f:form.submit>
                    </div>
                    <div class="form-group col-6 col-lg-12 col-xxxl-6 d-flex align-items-end justify-content-end">
                        <f:link.action action="list" section="tx-tt3-career" class="filter-reset form-control btn mx-2" name="reset" aria="{label:'reset'}">
                            <f:translate key="tx_tt3career.filter.button.reset"></f:translate>
                        </f:link.action>
                    </div>
                </div>
            </div>
        </div>
    </f:form>
</f:if>