<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<div class="list-group-item col-12 col-md-6 col-lg-4 my-2">
    <div class="card h-100 p-4 mx-2">
        <f:if condition="{isWatchlist}">
            <f:link.action action="addToWatchlist" controller="JobOffer" class="btn-close watchlist" aria-label="{f:translate(key: 'tx_tt3career.watchlist.remove')}" arguments="{jobOffer:jobOffer, redirectToAction: 'watchlist', section: 'tx-tt3-career'}" additionalAttributes="{rel:'nofollow'}"></f:link.action>
        </f:if>

        <div class="card-title mb-3{f:if(condition: '{isWatchlist}', then: ' pe-4')}">
            <strong itemprop="title">
                <f:link.action action="show" arguments="{jobOffer:jobOffer}" pageUid="{f:if(condition: '{showPid}', then: '{showPid}', else: '{settings.showPid}')}" class="">{jobOffer.title}</f:link.action>
            </strong>
            <f:if condition="{jobOffer.subtitle}">
                <br><span>{jobOffer.subtitle}</span>
            </f:if>
        </div>
        <div class="card-body p-0 pb-3">
            <div class="row">
                <div class="col">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.start_date" />: </span>
                </div>
                <div class="col-md-auto">
                    <f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
                        <f:then>
                            <span class="value"><f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date></span>
                        </f:then>
                        <f:else>
                            <span class="value"><f:translate key="tx_tt3career_domain_model.immediately" /></span>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.location" />: </span>
                </div>
                <div class="col-md-auto">
                    <span class="value" itemprop="jobLocation">{jobOffer.location}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.career_level" />: </span>
                </div>
                <div class="col-md-auto">
                    <span class="value">{f:translate(key: 'tx_tt3career.careerLevel.{jobOffer.careerLevel}', default: '{jobOffer.careerLevel}')}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.department" />: </span>
                </div>
                <div class="col-md-auto">
                    <span class="value">{f:translate(key: 'tx_tt3career.department.{jobOffer.department}', default: '{jobOffer.department}')}</span>
                </div>
            </div>
            <div class="row mt-3">
                <f:link.action action="show" arguments="{jobOffer:jobOffer}" pageUid="{f:if(condition: '{showPid}', then: '{showPid}', else: '{settings.showPid}')}" class="btn btn-primary m-auto actions">
                    <f:translate key="tx_tt3career_domain_model.more" />
                </f:link.action>
            </div>
        </div>
    </div>
</div>