<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="list-group-item">
    <div class="card p-4 my-2">
        <f:if condition="{isWatchlist}">
            <f:link.action action="addToWatchlist" controller="JobOffer" class="btn-close" aria-label="{f:translate(key: 'tx_tt3career.watchlist.remove')}" arguments="{jobOffer:jobOffer, redirectToAction: 'watchlist', section: 'tx-tt3-career'}" additionalAttributes="{rel:'nofollow'}"></f:link.action>
        </f:if>
        <div class="row">
            <div class="title card-title col-12 mb-3{f:if(condition: '{isWatchlist}', then: ' pe-5')}">
                <strong itemprop="title">
                    <f:link.action action="show" arguments="{jobOffer:jobOffer}" pageUid="{f:if(condition: '{showPid}', then: '{showPid}', else: '{settings.showPid}')}" class="">{jobOffer.title}</f:link.action>
                </strong>
                <f:if condition="{jobOffer.subtitle}">
                    <br><span>{jobOffer.subtitle}</span>
                </f:if>
            </div>
            <div class="start_date col-12 col-lg-3 col-xxl-2">
                <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.start_date" />: </span>
                <f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
                    <f:then>
                        <span class="value"><f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date></span>
                    </f:then>
                    <f:else>
                        <span class="value"><f:translate key="tx_tt3career_domain_model.immediately" /></span>
                    </f:else>
                </f:if>
            </div>
            <f:if condition="{jobOffer.location}">
                <div class="location col-12 col-lg-3 col-xxl-2">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.location" />: </span>
                    <span class="value" itemprop="jobLocation">{jobOffer.location}</span>
                </div>
            </f:if>
            <f:if condition="{jobOffer.careerLevel}">
                <div class="career_level col-12 col-lg-3 col-xxl-3">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.career_level" />: </span>
                    <span class="value">{f:translate(key: 'tx_tt3career.careerLevel.{jobOffer.careerLevel}', default: '{jobOffer.careerLevel}')}</span>
                </div>
            </f:if>
            <f:if condition="{jobOffer.department}">
                <div class="department col-12 col-lg-3 col-xxl-3">
                    <span class="label"><f:translate key="tx_tt3career_domain_model_joboffer.department" />: </span>
                    <span class="value">{f:translate(key: 'tx_tt3career.department.{jobOffer.department}', default: '{jobOffer.department}')}</span>
                </div>
            </f:if>
            <div class="show col-12 col-xxl-2 text-xxl-end mt-3 mt-xxl-0">
                <f:link.action action="show" arguments="{jobOffer:jobOffer}" pageUid="{f:if(condition: '{showPid}', then: '{showPid}', else: '{settings.showPid}')}" class="btn btn-primary actions">
                    <f:translate key="tx_tt3career_domain_model.more" />
                </f:link.action>
            </div>
        </div>
    </div>
</div>