<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:tt3career="http://typo3.org/ns/Teufels/Tt3Career/ViewHelpers">

<f:if condition="{pagination.allPageNumbers -> f:count()} > 1">
    <ul class="f3-widget-paginator">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <li class="previous">
                <f:link.action action="{actionName}" arguments="{tt3career:page.constraint(currentPage: pagination.previousPageNumber, constraint: constraint)}" section="tx-tt3-career" title="{f:translate(key:'pagination.previous')}" additionalAttributes="{rel:'nofollow'}">
                    {f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}
                </f:link.action>
            </li>
        </f:if>
        <f:if condition="{pagination.hasLessPages}">
            <li>…</li>
        </f:if>
        <f:for each="{pagination.allPageNumbers}" as="page">
            <f:if condition="{page} == {paginator.currentPageNumber}">
                <f:then>
                    <li class="current">{page}</li>
                </f:then>
                <f:else>
                    <li>
                        <f:link.action action="{actionName}" arguments="{tt3career:page.constraint(currentPage: page, constraint: constraint)}" section="tx-tt3-career" additionalAttributes="{rel:'nofollow'}">
                            {page}
                        </f:link.action>
                    </li>
                </f:else>
            </f:if>
        </f:for>
        <f:if condition="{pagination.hasMorePages}">
            <li>…</li>
        </f:if>
        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <li class="next">
                <f:link.action action="{actionName}" arguments="{tt3career:page.constraint(currentPage: pagination.nextPageNumber, constraint: constraint)}" section="tx-tt3-career" title="{f:translate(key:'pagination.next')}" additionalAttributes="{rel:'nofollow'}">
                    {f:translate(key:'widget.pagination.next', extensionName: 'fluid')}
                </f:link.action>
            </li>
        </f:if>
    </ul>
</f:if>