<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:comment><!-- Check if templateLayout is set by arguments --></f:comment>
<f:if condition="!{templateLayout}">
    <f:variable name="templateLayout" value="{settings.templateLayout}"/>
</f:if>
<f:comment><!-- Check if hidePagination is set by arguments --></f:comment>
<f:if condition="!{hidePagination}">
    <f:variable name="hidePagination" value="{settings.hidePagination}"/>
</f:if>

<f:render section="{templateLayout}" arguments="{_all}" />

<f:section name="default">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <f:for each="{jobOffers}" as="jobOffer" iteration="iterator">
                    <f:render partial="List/Default" arguments="{jobOffer:jobOffer,settings:settings,iterator:iterator}" />
                </f:for>
            </ul>
        </div>
    </div>
</f:section>

<f:section name="list">
    <div id="tt3career-content-container" class="tt3career-list-view container">
        <div class="row">
            <f:if condition="{hidePagination}">
                <f:then>
                    <f:for each="{jobOffers}" as="jobOffer" iteration="iterator">
                        <f:render partial="List/List" arguments="{_all}" />
                    </f:for>
                </f:then>
                <f:else>
                    <f:for each="{pagination.paginator.paginatedItems}" as="jobOffer" iteration="iterator">
                        <f:render partial="List/List" arguments="{_all}" />
                    </f:for>
                    <div class="col-12">
                        <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, action: 'list', constraint: constraint}" />
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>

<f:section name="grid">
    <div id="tt3career-content-container" class="tt3career-grid-view container">
        <div class="row">
            <f:if condition="{hidePagination}">
                <f:then>
                    <f:for each="{jobOffers}" as="jobOffer" iteration="iterator">
                        <f:render partial="List/Grid" arguments="{_all}" />
                    </f:for>
                </f:then>
                <f:else>
                    <f:for each="{pagination.paginator.paginatedItems}" as="jobOffer" iteration="iterator">
                        <f:render partial="List/Grid" arguments="{_all}" />
                    </f:for>
                    <div class="col-12">
                        <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, action: 'list', constraint: constraint}" />
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>