<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:asset.script identifier="backButtonFix">;
        sessionStorage.removeItem('listPageUrl');
        const anchorId = sessionStorage.getItem('scrollToAnchor');
        if (anchorId) {
            const anchorElement = document.getElementById(anchorId);
            if (anchorElement) {
                anchorElement.scrollIntoView();
            }
            sessionStorage.removeItem('scrollToAnchor');
        }
    </f:asset.script>

    <f:asset.script identifier="selectize" src="EXT:tt3_career/Resources/Public/Js/Vendor/selectize.js" priority="true"/>
    <f:asset.script identifier="selectize-usage" src="EXT:tt3_career/Resources/Public/Js/selectize.usage.js" priority="true"/>
    <f:asset.css identifier="selectize-css" href="EXT:tt3_career/Resources/Public/Css/Vendor/selectize.css" priority="true"/>
    <f:asset.css identifier="selectize-bootstrap5-css" href="EXT:tt3_career/Resources/Public/Css/Vendor/selectize.bootstrap5.css" priority="true"/>

    <a id="tx-tt3-career" name="tx-tt3-career" class="anchor-target" aria-hidden="true"></a>

    <f:if condition="{jobOffers -> f:count()} > 0 || {isFiltering}">
        <f:then>
            <f:render partial="List/Filter" arguments="{_all}" />
            <f:render partial="List/RenderContent" arguments="{_all}" />
            <f:if condition="{jobOffers -> f:count()} <= 0 && {isFiltering}">
                <div class="no-jobs-found container">
                    <div class="row">
                        <div class="col-12">
                            <f:comment><!--If filter returns no postings--></f:comment>
                            <span><f:translate key="tx_tt3career.filter.noJobs"/></span>
                        </div>
                    </div>
                </div>
            </f:if>
        </f:then>
        <f:else>
            <div class="no-jobs-found container">
                <div class="row">
                    <div class="col-12">
                        <f:comment><!--If there are no postings at all--></f:comment>
                        <span><f:translate key="tx_tt3career.page.noJobs"/></span>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>

</html>
