<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:asset.script identifier="backButtonFix">
        if (!sessionStorage.getItem('listPageUrl') && document.referrer) {
            sessionStorage.setItem('listPageUrl', document.referrer);
        }
    </f:asset.script>
    <f:asset.script identifier="backButtonHandling" src="EXT:tt3_career/Resources/Public/Js/backButtonHandling.js" priority="true"/>

    <f:if condition="{jobOffer.headerImage}">
        <f:render partial="Detail/HeaderImage" arguments="{_all}"/>
    </f:if>

    <f:if condition="{g4jobs_structuredData}">
        <f:render partial="JobOffer/GoogleForJobs" arguments="{structuredData: g4jobs_structuredData}"/>
    </f:if>

    <a id="tx-tt3-career" name="tx-tt3-career" class="anchor-target" aria-hidden="true"></a>

    <f:render section="{settings.templateLayout}" arguments="{_all}" />

    <f:if condition="{relatedJobOffers}">
        <section class="related-jobs container">
            <div class="row">
                <h2><f:translate key="tx_tt3career.show.relatedJobs" /></h2>
                <f:render partial="List/RenderContent" arguments="{jobOffers:relatedJobOffers,settings:settings,showPid:pid,templateLayout:settings.detail.relatedJobsTemplate,hidePagination:'true'}" />
            </div>
        </section>
    </f:if>

</f:section>

<f:section name="default">
    <div class="tt3career-detail-view container">
        <f:render partial="Detail/Default" arguments="{_all}" />
    </div>
</f:section>

</html>
