{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="{amount} > 0">
        <div class="watchlist-button">
        <f:link.action action="watchlist" pageUid="{settings.watchlistPid}" class="btn btn-watchlist position-relative">
                <span class="title"><f:translate key="tx_tt3career.watchlist" /></span>
                <core:icon identifier="actions-star" size="large" />
                <span class="position-absolute badge rounded-pill bg-danger">
                    {amount}
                    <span class="visually-hidden">{f:translate(key: 'tx_tt3career.watchlist.amount')}</span>
                </span>
            </f:link.action>
        </div>
    </f:if>
</f:section>

</html>