<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:asset.script identifier="backButtonFix">;
        sessionStorage.removeItem('listPageUrl');
        const anchorId = sessionStorage.getItem('scrollToAnchor');
        if (anchorId) {
            const anchorElement = document.getElementById(anchorId);
            if (anchorElement) {
                anchorElement.scrollIntoView();
            }
            sessionStorage.removeItem('scrollToAnchor');
        }
    </f:asset.script>

    <a id="tx-tt3-career" name="tx-tt3-career" class="anchor-target" aria-hidden="true"></a>

    <f:variable name="isWatchlist" value="true" />
    <f:if condition="{jobOffers -> f:count()} > 0}">
        <f:then>
            <f:render partial="List/RenderContent" arguments="{_all}" />
        </f:then>
        <f:else>
            <div class="no-jobs-found">
                <f:comment><!--If there are no postings at all--></f:comment>
                <f:translate key="tx_tt3career.watchlist.empty"/>
            </div>
        </f:else>
    </f:if>

    <f:if condition="{settings.listPid}">
        <f:link.page class="btn btn-primary my-4" pageUid="{settings.listPid}">
            <f:translate key="tx_tt3career.watchlist.toAllJobOffers" />
        </f:link.page>
    </f:if>

</f:section>

</html>
