{namespace formvh=TYPO3\CMS\Form\ViewHelpers}
{namespace formmailtext=Kitzberger\FormMailtext\ViewHelpers}
<f:layout name="SystemEmail" />
<f:section name="Title">{title}</f:section>
<f:section name="Main">
    <formmailtext:renderMessage message="{message -> f:format.html()}">
        <table>
            <formvh:renderAllFormValues renderable="{form.formDefinition}" as="formValue">

                <f:variable name="shortlabel" value="{formvh:translateElementProperty(element: formValue.element, property: 'shortlabel') -> f:format.stripTags(allowedTags: '<a>')}" />
                <f:variable name="label" value="{formvh:translateElementProperty(element: formValue.element, property: 'label') -> f:format.stripTags(allowedTags: '<a>')}" />

                <tr>
                    <f:if condition="{formValue.isSection}">
                        <f:then>
                            <td colspan="2"><b>{formvh:translateElementProperty(element: formValue.element, property: 'label')}</b></td>
                        </f:then>
                        <f:else>
                            <td valign="top" align="left"><f:format.html>{f:if(condition: '{shortlabel}', then: '{shortlabel}', else: '{label}')}</f:format.html></td>
                            <td valign="top" align="left">
                                <f:if condition="{formValue.value}">
                                    <f:then>
                                        <f:if condition="{formValue.isMultiValue}">
                                            <f:then>
                                                <table cellspacing="0" border="0">
                                                    <f:for each="{formValue.processedValue}" as="value">
                                                        <tr>
                                                            <td>{value}</td>
                                                        </tr>
                                                    </f:for>
                                                </table>
                                            </f:then>
                                            <f:else>
                                                <table cellspacing="0" border="0">
                                                    <tr>
                                                        <td><f:format.nl2br>{formValue.processedValue}</f:format.nl2br></td>
                                                    </tr>
                                                </table>
                                            </f:else>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        -
                                    </f:else>
                                </f:if>
                            </td>
                        </f:else>
                    </f:if>
                </tr>
            </formvh:renderAllFormValues>
        </table>
    </formmailtext:renderMessage>
</f:section>
