{namespace ttaddr=FriendsOfTYPO3\TtAddress\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<div class="tx-ttaddress">
    <div class="vcard tt_address_detail" itemscope itemtype="http://schema.org/Person">
        <h4 itemprop="name">{address.fullName}</h4>
        <f:if condition="{address.position}">
            <p class="jobTitle" itemprop="jobTitle"><em>{address.position}</em></p>
        </f:if>

        <f:if condition="{address.image}">
            <f:then>
                <div class="row">
                    <div class="col-md-3">
                        <figure class="figure">
                            <f:image image="{address.firstImage}" width="600"
                                     class="figure-img img-fluid img-thumbnail rounded"
                                     alt="{img.originalResource.alt}"
                                     title="{img.originalResource.title}"
                                     additionalAttributes="{itemprop:'image'}"/>
                            <f:if condition="{address.firstImage.originalResource.description}">
                                <figcaption class="figure-caption">
                                    {address.firstImage.originalResource.description ->
                                    f:format.nl2br()}
                                </figcaption>
                            </f:if>
                        </figure>
                    </div>
                    <div class="col-md-9">
                        <f:render section="content" arguments="{_all}"/>
                    </div>
                </div>
            </f:then>
            <f:else>
                <f:render section="content" arguments="{_all}"/>
            </f:else>
        </f:if>
    </div>

    <f:section name="content">
        <f:if condition="{address.description}">
            <div class="description" itemprop="description">
                {address.description -> f:format.html()}
            </div>
        </f:if>

        <f:if condition="{address.address}">
            <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <address>
                    <span itemprop="streetAddress">{address.address}</span><br>
                    <span itemprop="postalCode">{address.zip}</span>&nbsp;<span
                    itemprop="addressLocality">{address.city}</span><br>
                    <span itemprop="addressCountry">{address.country}</span>
                </address>
            </div>
        </f:if>

        <f:if condition="{address.building} || {address.room}">
            <ul class="list-inline">
                <f:if condition="{address.building}">
                    <li class="list-inline-item">
                        {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.building')}: {address.building}
                    </li>
                </f:if>

                <f:if condition="{address.room}">
                    <li class="list-inline-item">
                        {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.room')}: {address.room}
                    </li>
                </f:if>
            </ul>
        </f:if>

        <ul class="list-unstyled">
            <f:if condition="{address.phone}">
                <li>
                    <i class="fas fa-phone"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.telephone')}: <a href="tel:{address.phone->ttaddr:removeSpaces()}">
                    <span itemprop="telephone">{address.phone}</span>
                </a>
                </li>
            </f:if>

            <f:if condition="{address.mobile}">
                <li>
                    <i class="fas fa-mobile-alt"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.mobile')}: <a href="tel:{address.mobile->ttaddr:removeSpaces()}">
                    <span itemprop="telephone">{address.mobile}</span>
                </a>
                </li>
            </f:if>

            <f:if condition="{address.fax}">
                <li>
                    <i class="fas fa-fax"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.fax')}: <span itemprop="faxNumber">{address.fax}</span>
                </li>
            </f:if>

            <f:if condition="{address.email}">
                <li>
                    <i class="fas fa-envelope"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.email')}:
                    <span><f:link.email email="{address.email}" /></span>
                </li>
            </f:if>

            <f:if condition="{address.www}">
                <meta itemprop="url" content="{f:uri.typolink(parameter:address.www)}"/>
                <li>
                    <i class="fas fa-link"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.www')}:
                    <f:link.typolink parameter="{address.www}">{address.wwwSimplified}</f:link.typolink>
                </li>
            </f:if>
            <f:if condition="{address.birthday}">
                <meta itemprop="birthDate" content="{address.birthday -> f:format.date(format:'%Y-%m-%d')}">
                <li>
                    <i class="fas fa-birthday-cake"></i>
                    {f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.birthday')}: {address.birthday -> f:format.date(format:'%d.%m.%Y')}
                </li>
            </f:if>
        </ul>

        <f:if condition="{address.skype} || {address.twitter} || {address.facebook} || {address.linkedin}">
            <ul class="list-inline">
                <f:if condition="{address.skype}">
                    <li class="list-inline-item">
                        <i class="fab fa-skype" aria-hidden title="{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.skype')}"></i>
                        <span class="sr-only">{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.skype')}:</span>
                        <a href="skype:{address.skype}?call">{address.skype}</a>
                        <meta itemprop="sameAs" content="skype:{address.skype}?call"/>
                    </li>
                </f:if>
                <f:if condition="{address.twitter}">
                    <li class="list-inline-item">
                        <i class="fab fa-twitter" aria-hidden title="{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.twitter')}"></i>
                        <span class="sr-only">{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.twitter')}:</span>
                        <a href="https://twitter.com/{address.twitter}" target="_blank">{address.twitter}</a>
                        <meta itemprop="sameAs" content="https://twitter.com/{address.twitter}"/>
                    </li>
                </f:if>
                <f:if condition="{address.facebook}">
                    <li class="list-inline-item">
                        <i class="fab fa-facebook" aria-hidden title="{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.facebook')}"></i>
                        <span class="sr-only">{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.facebook')}:</span>
                        <a href="https://www.facebook.com/{address.facebook}" target="_blank">{address.facebook}</a>
                        <meta itemprop="sameAs" content="https://www.facebook.com/{address.facebook}"/>
                    </li>
                </f:if>
                <f:if condition="{address.linkedin}">
                    <li class="list-inline-item">
                        <i class="fab fa-linkedin" aria-hidden title="{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.linkedin')}"></i>
                        <span class="sr-only">{f:translate(key:'LLL:EXT:tt_address/Resources/Private/Language/locallang.xlf:label.linkedin')}:</span>
                        <a href="https://www.linkedin.com/in/{address.linkedin}" target="_blank">{address.linkedin}</a>
                        <meta itemprop="sameAs" content="https://www.linkedin.com/in/{address.linkedin}"/>
                    </li>
                </f:if>
            </ul>
        </f:if>

        <f:if condition="{address.image -> f:count()} > 1">
            <div class="address-image-rows">
                <div class="row">
                    <f:for each="{address.image}" as="img" iteration="iterator">
                        <f:if condition="{iterator.cycle}>1">
                            <div class="col-md-4">
                                <figure class="figure">
                                    <f:if condition="{img.originalResource.link}">
                                        <f:then>
                                            <f:link.typolink
                                                parameter="{img.originalResource.link}"
                                                class="media-object {settings.detail.imageClass}"
                                                additionalAttributes="{title:img.originalResource.title}">
                                                <f:image image="{img}" width="400"
                                                         alt="{img.originalResource.alt}"
                                                         title="{img.originalResource.title}"
                                                         class="figure-img img-fluid img-thumbnail rounded"
                                                         additionalAttributes="{itemprop:'image'}"/>
                                            </f:link.typolink>
                                        </f:then>
                                        <f:else>
                                            <a href="{f:uri.image(src:img.originalResource.publicUrl, maxWidth:1000)}"
                                               class="media-object {settings.detail.imageClass}"
                                               rel="images_tt_address_{address.uid}"
                                               title="{img.originalResource.title}"
                                               target="_blank">
                                                <f:image image="{img}" width="400"
                                                         alt="{img.originalResource.alt}"
                                                         title="{img.originalResource.title}"
                                                         class="figure-img img-fluid img-thumbnail rounded"
                                                         additionalAttributes="{itemprop:'image'}"/>
                                            </a>
                                        </f:else>
                                    </f:if>
                                    <f:if condition="{img.originalResource.description}">
                                        <figcaption class="figure-caption">
                                            {img.originalResource.description -> f:format.nl2br()}
                                        </figcaption>
                                    </f:if>
                                </figure>
                            </div>
                        </f:if>
                    </f:for>
                </div>
            </div>
        </f:if>

    </f:section>
</div>
</html>
