<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table table-condensed table-hover joboffer-table">
    <thead>
        <tr>
            <th colspan="2">
                <strong><f:translate key="LLL:EXT:tt3_career/Resources/Private/Language/locallang_be.xlf:preview.list.title" /></strong>
            </th>
        </tr>
    </thead>
    <tbody>
    <f:for each="{tableData}" as="item">
        <tr>
            <th>{item.0 -> f:format.raw()}</th>
            <td>{item.1 -> f:format.raw()}</td>
        </tr>
    </f:for>
    </tbody>
</table>
</html>
