.tx-tt3-career form fieldset[id$="fieldset-hidden"] {
    display: none;
}
.tx-tt3-career .no-jobs-found {
    font-size: 20px;
    color: red;
}
.tt3career-list-view .list-group-item span.label {
    @media (min-width: 1400px) {
        display: block;
    }
}

.tt3career-grid-view .list-group-item .card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.tt3career-grid-view .list-group-item,
.tt3career-list-view .list-group-item {
    border: none;
    padding: 0;
}

.tt3career-grid-view .list-group-item .btn-close,
.tt3career-list-view .list-group-item .btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.tx-tt3-career .btn-watchlist .badge{
    top: 0;
    right: 0;
}
.tx-tt3-career .btn-watchlist .icon svg{
    max-width: 48px;
    max-height: 48px;
}

.tx-tt3-vehicles ul.f3-widget-paginator {
    padding: 0;
}
.tx-tt3-career ul.f3-widget-paginator li {
    list-style: none;
    display: inline;
}