<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      itemscope itemtype="https://schema.org/JobPosting">

<section class="title">
    <div class="d-block mb-4">
        <h1 itemprop="title">{jobOffer.title}</h1>
        <f:if condition="{jobOffer.subtitle}">
            <h2>{jobOffer.subtitle}</h2>
        </f:if>
    </div>
</section>

<hr class="divider">

<section class="info">
    <div class="row">
        <div class="start_date col-12 col-sm-6 my-1">
            <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.start_date" />: </strong>
            <f:if condition="{f:format.date(date: 'now', format: '%Y.%m.%d')} < {f:format.date(date: '{jobOffer.startDate}', format: '%Y.%m.%d')}">
                <f:then>
                    <span class="value"><f:format.date format="%d.%m.%Y">{jobOffer.startDate}</f:format.date></span>
                </f:then>
                <f:else>
                    <span class="value"><f:translate key="tx_tt3career_domain_model.immediately" /></span>
                </f:else>
            </f:if>
        </div>
        <f:if condition="{jobOffer.location}">
            <div class="location col-12 col-sm-6 my-1">
                <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.location" />: </strong>
                <span class="value" itemprop="jobLocation">{jobOffer.location}</span>
            </div>
        </f:if>
    </div>
    <div class="row">
        <f:if condition="{jobOffer.careerLevel}">
            <div class="career_level col-12 col-sm-6 my-1">
                <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.career_level" />: </strong>
                <span class="value">{f:translate(key: 'tx_tt3career.careerLevel.{jobOffer.careerLevel}', default: '{jobOffer.careerLevel}')}</span>
            </div>
        </f:if>
        <f:if condition="{jobOffer.employmenttype}">
            <div class="employmenttype col-12 col-sm-6 my-1">
                <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.employmenttype" />: </strong>
                <v:variable.set name="employmenttype" value="{jobOffer.employmenttype -> v:iterator.explode(glue: ',')}" />
                <span class="value" itemprop="employmentType">
                     <f:for each="{employmenttype}" as="employmenttype" iteration="iterator">
                    <f:if condition="{iterator.isLast}">
                        <f:then>
                            <f:translate key="tx_tt3career_domain_model.{employmenttype}" />
                        </f:then>
                        <f:else>
                            <f:translate key="tx_tt3career_domain_model.{employmenttype}" />,
                        </f:else>
                    </f:if>
                </f:for>
                </span>
            </div>
        </f:if>
    </div>
    <div class="row">
        <f:if condition="{jobOffer.department}">
            <div class="department col-12 col-sm-6 my-1">
                <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.department" />: </strong>
                <span class="value">{f:translate(key: 'tx_tt3career.department.{jobOffer.department}', default: '{jobOffer.department}')}</span>
            </div>
        </f:if>
        <f:if condition="{jobOffer.company}">
            <div class="company col-12 col-sm-6 my-1">
                <strong class="label"><f:translate key="tx_tt3career_domain_model_joboffer.company" />: </strong>
                <span class="value">{jobOffer.company}</span>
            </div>
        </f:if>
    </div>
    <f:if condition="{settings.watchlist.enable || jobOffer.download}">
        <div class="row mt-4">
            <f:if condition="{jobOffer.download}">
                <div class="col-auto my-1">
                    <a class="btn btn-primary btn-download" href="{jobOffer.download.originalResource.publicUrl}" target="_blank">
                        <f:translate key="tx_tt3career_domain_model.download" />
                    </a>
                </div>
            </f:if>
            <f:if condition="{settings.watchlist.enable}">
                <div class="col-auto my-1">
                    <f:if condition="{isInWatchlist}">
                        <f:then>
                            <f:link.action action="addToWatchlist" controller="JobOffer" class="btn btn-secondary btn-remove" arguments="{jobOffer:jobOffer, redirectToAction: 'show', section: 'tx-tt3-career'}" additionalAttributes="{rel:'nofollow'}"><f:translate key="tx_tt3career.watchlist.remove" /></f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action action="addToWatchlist" controller="JobOffer" class="btn btn-primary btn-add" arguments="{jobOffer:jobOffer, redirectToAction: 'show', section: 'tx-tt3-career'}" additionalAttributes="{rel:'nofollow'}"><f:translate key="tx_tt3career.watchlist.add" /></f:link.action>
                        </f:else>
                    </f:if>
                </div>
            </f:if>
        </div>
    </f:if>
</section>

<hr class="divider">

<f:if condition="{jobOffer.intro}">
    <section class="intro">
        <f:format.raw>
            {jobOffer.intro}
        </f:format.raw>
    </section>
</f:if>

<f:if condition="{jobOffer.task}">
    <section class="task">
        <f:format.raw>
            {jobOffer.task}
        </f:format.raw>
    </section>
</f:if>

<f:if condition="{jobOffer.profile}">
    <section class="profile">
        <f:format.raw>
            {jobOffer.profile}
        </f:format.raw>
    </section>
</f:if>

<f:if condition="{jobOffer.benefits}">
    <section class="benefits">
        <f:format.raw>
            {jobOffer.benefits}
        </f:format.raw>
    </section>
</f:if>

<f:if condition="{jobOffer.information}">
    <section class="information">
        <f:format.raw>
            {jobOffer.information}
        </f:format.raw>
    </section>
</f:if>

<f:if condition="{jobOffer.contact} =! ''">
    <hr class="divider">
    <section class="contact">
        <f:render partial="JobOffer/Contact" arguments="{address: jobOffer.contact}"/>
    </section>
</f:if>

<f:comment><!-- Application Form --></f:comment>
<f:if condition="{settings.applicationForm.include}">
    <f:render partial="Detail/ApplicationForm" arguments="{_all}"/>
</f:if>

<f:if condition="{jobOffer.externalLink}">
    <a href="{jobOffer.externalLink}" class="btn btn-primary btn-external-link" target="_blank">
        <f:translate key="tx_tt3career.show.applyNow" />
    </a>
</f:if>

<hr class="divider">

<section class="back">
    <f:if condition="{settings.backPid}">
        <f:then>
            <f:link.page class="backlink" pageUid="{settings.backPid}">
                <f:translate key="tx_tt3career_domain_model.backToList" />
            </f:link.page>
        </f:then>
        <f:else>
            <button class="btn btn-back" onclick="goBack()">
                <f:translate key="tx_tt3career_domain_model.backLink" />
            </button>
        </f:else>
    </f:if>
</section>

