.joboffer-table {
    background-color: transparent;
    border: 0;
    margin: 0
}

.joboffer-table th {
    width: 40%;
}

table.joboffer-table > tbody > tr > th {
    white-space: normal;
}

.joboffer-table .setting-switcher .up {
    display: none;
}

.joboffer-table .setting-switcher .open .up {
    display: inline;
}

.joboffer-table .setting-switcher .open .down {
    display: none;
}

.joboffer-table .hidden-settings {
    border: 0;
}

.joboffer-table > tbody > tr > td {
    padding: 3px 6px;
}

/**
 * For small cols
 */
.joboffer-table-small td, .joboffer-table-small th {
    display: block;
    float: left;
}

.joboffer-table-small tr {
    border-bottom: 1px solid #ccc;
}

table.joboffer-table-small > tbody > tr > th,
table.joboffer-table-small > tbody > tr > td {
    border: 0;
    width:100%
}
